.about {
    display: flex;
    margin-bottom: 14rem;
    overflow-x: hidden;
}

.about__image_w{
    left: -100rem;
    position: relative;
    max-width: 90.2rem;
    width: 100%;
    transition: all 1s ease-in-out;

    .about__img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.about__descr_w{
    left: 100rem;
    position: relative;
    z-index: 1;
    width: 100%;
    transition: all 1s ease-in-out;
}



.about__descr{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #2947A9;
    padding: 5rem 6rem 5rem 4rem;

    & p:nth-child(2){
        margin-bottom: 3rem;
    }
    & p:nth-child(3){
        margin-bottom: 7.4rem;
    }

}

.about__title{
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4.2rem;
    text-align: left;
    color: white;
    margin-bottom: 3.7rem;
}

.about__par{
   
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.3rem;
    color: #fff;
    text-align: left;
}


.about__btn{
    display: inline-flex;
    padding: 1.6rem 2rem;
    border-radius: 0.6rem;
    background-color: #fff;
    color: #2947A9;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2rem;
    transition: all 0.3s ease-in-out;
    border: 1px solid white;

    @media (hover:hover){
        &:hover{
            background-color: transparent;
            border: 1px solid white;
            color: white;
            box-shadow: 0 0 2rem rgba(255, 255, 255, 0.8);
            transition: all 0.3s ease-in-out;
        }
    }
    @media (hover:none){
        &:active{
            background-color: transparent;
            border: 1px solid white;
            color: white;
            box-shadow: 0 0 2rem rgba(255, 255, 255, 0.8);
            transition: all 0.3s ease-in-out;
        }
    }
    
}

@include bp ($point_3) {
    .about{
    flex-direction: column;
    align-items:center;
    }

    .about__image_w{
        min-height: 40rem;
    }

    .about__descr_w{
        max-width: none;
        margin-left: 0;
        padding-bottom: 0;
    }
}


@include bp($point_2, min) {
    .about__image_w{
        min-height: 67rem;
    }

    .about__descr_w{
        max-width: 48.8rem;
        margin-left: -17.6rem;
        padding: 7rem 0;
    }
}
