.main-bg {
    padding: 0;
    position: relative;
    max-width: none;
    margin: 0;
    width: 100%;
    min-height: 30rem;
    background: url('../img/main-bg.webp') center/cover no-repeat;
    display: flex;
    align-items: center; 
}

.main-bg::after {
    content: '';
    background-color: rgba(1, 1, 1, 0.7);
    min-height: 30rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.consultation-wrapper{
    position: relative;
    max-width: 115rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    
    align-items: center;
    color: white;
    z-index: 1;
}

.consultation__title{
    font-weight: 700;
    margin-bottom: 3rem;
}


@include bp($point_5) {
    .consultation__title{
        font-size: 2rem;
        line-height: 2rem;
        
    }

    .consultation__subtitle{
        font-size: 1.8rem;
    }

    .consultation-btn__btn{
        font-size: 1.4rem;
    }
    .consultation-wrapper{
        justify-content: center;
        text-align: center;
    }
}


@include bp($point_4, min) {
    .consultation__title{
    font-size: 3.6rem;
    line-height: 4.2rem;
    }

    .consultation__subtitle{
        font-size: 2.4rem;
    }

    .consultation-btn__btn{
        font-size: 1.8rem;
    }
    
    .consultation-wrapper{
        justify-content: space-between;
    }
}




.consultation__subtitle{
    font-weight: 400;
    line-height: 2.8rem;

    & a{
        color: white;
        border-bottom: 0.01rem white solid;
    }
}

.consultation-btn{
    min-width: 23.2rem;
    height: 5.3rem;

    &__btn{    
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: 0.2rem white solid;
        border-radius: 0.02rem;
        
        font-weight: 600;
        line-height: 2.1rem;
        text-align: center;
        color: white;
    }
}