.expirience2 {
    width: 100%;
    position: relative;
    display: flex;
    gap: 5rem;
    min-height: 60rem;
    
}


@include bp($point_0, min) {
    .expirience2 {
      gap: 50rem
        
    }
}


@include bp($point_1) {
    .expirience2 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .expirience2-cont{
        
        align-self: left;
        text-align: center;

        & p {
            width: 100%;
        };
    }

    

    
}

@media  (min-width: $point_4) and (max-width: 830px){
    .projects2{
        left: 37rem;
    }
    
    .years2{
        left: 7rem;
    }
    
    .clients2{
        left: 31.6rem;
    }
    
    .wards2{
        left: 9rem;
    }
}

@include bp($point_1, min) {
    .expirience2-cont{
        max-width: 36rem;
        align-self:flex-end;
    } 

    .expirience2-cont{
        text-align: left;
        width: 100%;

        & p {
            max-width: 33rem;
        };
    }
    
}




.expirience2__1{
    max-width: 78rem;
    position: relative;
    min-height: 60rem;
    width: 100%;
    padding: 6rem 10rem 4rem;

    
    @media screen and (min-width: $point_6) and (max-width: $point_5){
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    
}


@include bp($point_4, min) {
    .expirience2-cont2__img-w{
        position: absolute;
    }
    
    .expirience2-cont2__item{
        position: absolute;
    }
}

@include bp($point_5) {
    .expirience2-cont2__img-w{
        position: static;
    }

    .expirience2-cont2__item{
        position: static;
        max-width: none;
        width: 100%;
        gap: 2rem;
        text-align: center;
        display: flex;
         flex-direction: column;
         align-items: center;
    }

    .expirience2__1{
        padding: 0;
    }
}


.expirience2-cont2__item{
    min-height: 15.5rem;
    background-color: #fff;
    padding: 3rem;
    border-radius: 0.4rem;
    box-shadow: 0 0.4rem 0.6rem -0.2rem #1118270D, 0 1.2rem 1.6rem -0.4rem #1118271A;
    top: 0;
    left: 0;

}

.expirience2-cont2__num{
    font-size: 7.2rem;
    font-weight: 600;
    color: #292E3D;
    word-break: break-all;
}
.expirience2-cont2__title{
position: relative;
display: flex;
word-break: break-all;
font-size: 2.4rem;
font-weight: 400;
line-height: 2.8rem;
padding-left: 3.5rem;
color: #667299;


@media screen and (min-width: $point_6) and (max-width: $point_5){
    font-size: 2rem; 
    word-wrap: break-word;
word-break: break-word;

}


&::before{
    position: absolute;
    content: '';
    top: 0;
    left: 1.6rem;
    width: 0.7rem;
    height: 2.8rem;
    background: #c29376;

    }
}

.projects2{
    top: 6rem;
    left: 40rem;
    max-width:28rem;
    width: 100%;
    z-index: 101;

    & .expirience2-cont2__img-w{
        width: 9.7rem;
        top: -2rem;
        left: 21rem;

        & img {
            width: 100%;
        }
    }
}

.years2{
left: 10rem;
    top: 16rem;
    max-width: 36.1rem;
    width: 100%;
    z-index: 100;

    & .expirience2-cont2__img-w{
        width: 7.9rem;
        top: -3.5rem;
        left: -3rem;
        & img {
            width: 100%;
        }
    }
}

.clients2{
    max-width: 27.6rem;
    width: 100%;
    top: 30rem;
    left: 34.6rem;
    z-index: 101;

    & .expirience2-cont2__img-w{
        width: 9.3rem;
        top: -2rem;
        left: 21rem;
        & img {
            width: 100%;
        }
    }
}

.wards2{
    max-width: 33.3rem;
    width: 100%;
    top: 40.7rem;
    left: 12rem;
    z-index: 100;

    & .expirience2-cont2__img-w{
        width: 8.4rem;
        top: 12rem;
        left: 28rem;
        & img {
            width: 100%;
        }
    }
}



.expirience2__2-col{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.expirience2-cont{
    width: 100%;
    

    & h2 {
        font-size: 5rem;
        font-weight: 700;
        line-height: 7rem;

        color: #2947A9;
        margin-bottom: 4rem;
        
    }

    & p {
       
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.4rem;
        
        margin-bottom: 5rem;
        color: #525B7A;
    }

    & a {
        display: inline-flex;
        padding: 1.6rem 3.9rem;
        background-color:#2947A9;
        color: white;
        font-size: 1.8rem;
        border-radius: 0.2rem;
        font-weight: 600;
        line-height: 2.1rem;

    }
}

