@import './null'; 
@import './fonts';
@import '../../node_modules/swiper/swiper-bundle';  
@import './base';
@import '_mixin';  


 
.header{
    max-width: 132rem;
    width: 100%;
    margin: 0 auto;
    padding: 1.6rem 0;
    height: 8rem;

    .nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    
        &__menu-list{
            display: flex;
            flex-direction: row;
        };

        
        @include bp($point_2, min) {
            &__menu-list{
                gap: 5rem;
            }


        }
    
        &__menu-list li{
            padding: 0;
            margin: 0;
        };
    
        &__menu-ittem a {     
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 2rem;
            color: #14171F;
        };
    
        &__menu-ittem--active a{
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 2rem;
            color: #F9995D;
    
        }
    }
    
}

.logo{

    max-width: 16.6rem;
    width: 100%;
    position: relative;
    z-index: 201;
}

.logo img{
    width: 100%;
    height: 100%;
}

.full-screen{
    background: url('../img/bg.webp') center/cover no-repeat;
    min-height: calc(100dvh - 8rem);
}

.full-screen__in{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    min-height: calc(100dvh - 8rem);
}

.full-screen__cont-w{
    display: flex;
    flex-grow: 1;
}


@include bp($point_2, min) {
    .full-screen__cont-w{
        padding-top: 15rem;
        align-self: flex-start;
    }
}



.full-screen__head-box{
    align-self: center;
}

.swiper{
    margin: 0;
}

.full-screen__head-box {
    font-weight: 600;
    color: #292E3D;
};


@include bp($point_2, min) {
    .full-screen__head-box{
        font-size: 7.2rem;
        line-height: 8.5rem;
    }


}



.swiper1{
    overflow-x: hidden;
    background: #3559C7;
    max-width: 41.5rem;
    width: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    
    
    @include bp($point_2, min) {
        .swiper1{
            min-height: 19rem;

            &-slide__title h4{
                font-size: 2rem;
                line-height: 2.5rem;
                text-align: center;
                margin-bottom: 2rem ;
            };

            &-slide__subtitle{
                font-size: 2.4rem;
                line-height: 2.8rem;
            };

            &-wrapper {
                margin-bottom: 2rem;
            };

            &-slide{
                padding: 0 5.2rem;
            }

        }
    }
    

    &-wrapper {
        flex-grow: 1;
    }

    &-slide{
        height: 100%;
    }

    &-slide__title h4{
        font-weight: 700;
        text-align: center;
        color:  #FFFFFF;
    };

    &-slide__subtitle{
        text-align: center;
        color:  #FFFFFF;
    };
}

.swiper-btn{
    display: flex;
    width: 100%;
    background: #292E3D;
    height: 4rem;
    align-items: center;

    &__left,
    &__right{
        position: relative;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items:center;
    }

    &__left{
        padding-left: 4rem;
        border-right: 0.2rem solid white;
    };
    &__right{
        padding-right: 4rem;
    };

};

.btn-left,
.btn-right{
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2rem;
    color: white;
}

.btn-left{
    

    &::after{
        content: '';
        position: absolute;
        background: url('../img/after.webp') center/ 2.5rem no-repeat;
        top: 1.2rem;
        left: 2.45rem;;
        width: 2.6rem;
        height: 1.7rem; 
    }
}
.btn-right{
    
    
    &::before{
        content: '';
        position: absolute;
        background: url('../img/after.webp') center/ 2.5rem no-repeat;
        top: 1.2rem;
        right: 2.45rem;
        width: 2.6rem;
        height: 1.7rem;
        transform: rotate(180deg);
    }
} 

@include bp ($point_3){
    .header .nav__menu-list{
        gap: 2rem;
    }
}



@include bp($point_3) {
    .full-screen__head-box {
        font-size: 6rem;
        line-height: 6rem;
        text-align: center;
    }
    
    .full-screen__cont-w{
        align-self:center;
        padding-top: 0;
    }

    .swiper1{
        min-height: 14rem;
    }

    .swiper1-slide__title h4{
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 1rem ;
    };

    .swiper1-slide__subtitle{
        font-size: 1.5rem;
        line-height: 1.5rem;
    };

    .swiper1-wrapper {
        margin-bottom: 0.5rem;
        flex-grow: 1;
    }

    .swiper1-slide{
        padding: 0 1.2rem;

    }
}


@include bp ($point_4){

    .full-screen__head-box {
        font-size: 6rem;
        line-height: 6rem;
        text-align: center;
    }
    
    .nav__menu{
        display: none;
    }

    
    .full-screen__cont-w{
        align-self:center;
        padding-top: 0;
    }

    .swiper1{
        min-height: 14rem;
    }

    .swiper1-slide__title h4{
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 1rem ;
    };

    .swiper1-slide__subtitle{
        font-size: 1.5rem;
        line-height: 1.5rem;
    };

    .swiper1-wrapper {
        margin-bottom: 0.5rem;
        flex-grow: 1;
    }

    .swiper1-slide{
        padding: 0 1.2rem;

    }

    .active__nav{
        display: flex;
        background-color: rgba($color: white, $alpha: 1.0);
        position: absolute;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        z-index: 200;
        overflow: hidden;

        & .nav__menu-list {
            flex-direction: column;
            align-items: center;
            justify-content: center;   
            gap: 5rem;        
        }

        & .nav__menu-ittem a{
            font-size: 4rem;
        }
 
      }

    .nav__burger{
        display: block;
    }

    .news-letter__w{
        flex-wrap: wrap;
    }

}

@include bp ($point_6) {

    .swiper-btn__left,
    .swiper-btn__right{
        padding: 0;
        margin: 0;
        background-color: transparent;
    }

    .btn-left:after{
        display: none; 
        padding: 0;
    }
    .btn-right:before{
        display: none;
        padding: 0;
    }
}

.nav__burger {
    display: none;
    width: 6rem;
    height: 4.5rem;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 200;
  }

  .nav__burger span {
    display: block;
    position: absolute;
    height: 0.9rem;
    width: 100%;
    background: #2947a9;
    border-radius: 0.9rem;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  .nav__burger span:nth-child(1) {
    top: 0;
  }
  
  .nav__burger span:nth-child(2),.nav__burger span:nth-child(3) {
    top: 1.8rem;
  }
  
  .nav__burger span:nth-child(4) {
    top: 3.6rem;
  }
  
  .nav__burger.open span:nth-child(1) {
    top: 1.8rem;
    width: 0%;
    left: 50%;
  }
  
  .nav__burger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .nav__burger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .nav__burger.open span:nth-child(4) {
    top: 1.8rem;
    width: 0%;
    left: 50%;
  }

  .nav .nav__menu:has(.nav__burger .open){
    background-color: #14171F;
  }

  body:has(.active__nav){
    overflow: hidden;
  }